.div1 {
    background-color: #fff7ed;
}
.div1h1 {
    background-color: #fde68a;
    text-align: center;
    color: #92400e;
}
.div1h2 {
    background-color: #fed7aa;
    text-align: center;
    color: #92400e;
    text-decoration: none;
    display: block;
}
.image {
    text-align: center;
}
.footer {
    background-color: #78350f;
    text-align: center;
    color: #ffffff;
}
.text {
    font-family: cursive;
}
body {
    background-color: #fff7ed;
    font-family:  cursive
}
ol a {
    text-decoration: none;
    display: block;
}